{% extends 'index.html' %}

<!--this block will display the user message that contents are copied and provide a back button for previous pilot-->
{% block mail_display %}
            <div class="killmails" style="border: none">Pilot Interactions Copied. Search another pilot or click
                'random' pilot to display a random EVE pilot.
            </div>
{% endblock %}

{% block previous %}
            <div>
                <button type="button" name="back" value="back" onclick='history.back()'>previous pilot</button>
            </div>
{% endblock %}