<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVE Combat Interaction Tool</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script>
        function copyDivToClipboard() {
            let range = document.createRange();
            range.selectNode(document.getElementById("mail-display"));
            window.getSelection().removeAllRanges(); // clear current selection
            window.getSelection().addRange(range); // to select text
            document.execCommand("copy");
            window.getSelection().removeAllRanges();// to deselect
        }
    </script>
</head>
<body>
    <div class="header-div">
        <img id="header-img" src="./static/images/eveLogo.png" alt="EVE logo" width="250" height="114">
        <div id="header-txt">EVE Online Combat Interaction Tool</div>
    </div>
    <br style="clear:both" />
    <div class="body-container">
        <div class="mail-display" id="mail-display">
            {% block mail_display %} <span style="line-height: 10; color: white; font-weight: bold">Combat interactions will display here.</span> {% endblock %} </div>
        <div class="form-main">
        <form id="main-form" action="{{url_for("get_pilot")}}" method="POST">
            <div id="user-instruct">
                Choose <span style="font-weight: bold">one</span> of the following options - enter a pilot name below
                and submit kills or losses to generate the combat interaction history of a specific pilot
                <span style="font-weight: bold">OR</span> simply click <span style="font-weight: bold">random pilot
                kills</span> or <span style="font-weight: bold">random pilot losses</span> to generate the combat
                interaction history of a random pilot.
            </div>
            <div style="width: 100%; height: 20px; border-bottom: 1px solid antiquewhite; text-align: center">
                <span style="font-size: 12px; padding: 0 10px;">Search Pilot</span>
            </div>
            <div class="form_fieldset">
            <label for="pilot-name">enter a pilot name:</label>
            <input type="text" id="pilot-name" name="pilot-name" placeholder="e.g. Nez Orlenard">
            </div>

            <div class="form_fieldset">
                <label for="num-display">enter # of interactions (max 20):</label>
                <input type="number" id="num-display" name="num-display">
            </div>

            <div class="submit-buttons">
                <button type="submit" name="action" value="kills">get kills</button>
                <button type="submit" name="action" value="losses">get losses</button>
            </div>
        </form>
        <form id="rand-form" action="{{url_for("get_random")}}" method="POST">
            <div style="width: 100%; height: 20px; border-bottom: 1px solid antiquewhite; text-align: center">
                <span style="font-size: 12px; padding: 0 10px;">Search Random Pilot</span>
            </div>
            <div>
                <label for="rand-num-display">enter # of interactions (max 20):</label>
                <input type="number" id="rand-num-display" name="rand-num-display">
            </div>
            <div class="random-submit">
                <button type="submit" name="rand-action" value="kills" formaction="{{url_for("get_random")}}">
                    random pilot kills
                </button>
                <button type="submit" name="rand-action" value="losses" formaction="{{url_for("get_random")}}">
                    random pilot losses
                </button>
            </div>
<!--            once successful display of interaction history, display links, copy to and previous buttons-->
            <div id="links">
                {% block link_display %} {% endblock %}
            </div>
            <div id="copy-to">
                {% block copy %} {% endblock %}
            </div>
            <div id="previous">
                {% block previous %} {% endblock %}
            </div>
        </form>
        <div>
        <!-- if flashed messages display to user -->
        {% with messages = get_flashed_messages()%}
            {% if messages%}
                {% for message in messages%}
                    <div id="alert-warning">
                        {{ message }}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}
        </div>
        <!-- end flashed messages display -->
    </div>
</body>
</html>