{% extends 'index.html' %}

{% block mail_display %}
            <div class="killmails-header">
                    Showing {{ mail_type }} for {{ pilot }}
                <img id="char-portrait" src="./static/images/char-img.png" alt="char-portrait">
            </div>
            <br style="clear:both" />
            {% for key, value in mails.items() if not key in ["charid", "links"] %}
                    <div class="killmails">
                        <hr>
                        <div style="font-weight: bold">
                            {{ "Killmail: " + key }}
                        </div>
                        <div>
                            {{ "Ship: " + value[0] }}
                        </div>
                        <div>
                            {{ "Pilot: " + value[1] }}
                        </div>
                        <div style="font-weight: bold">
                            {{ "Modules Fitted:" }}
                        </div>
                        {% for i in range(value|length) %}
                            {% if i > 3 %}
                            <div>
                                {{ value[i] }}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <hr>
                    </div>
            {% endfor %}
{% endblock %}

{% block link_display %}
    <div>
        Link to zKillboard:
    </div>
    <div class="links">
        <a href={{ mails.links[0] }} target="_blank">{{ mails.links[0] }}</a>
    </div>
        Link to Eve Who:
    <div class="links">
        <a href={{ mails.links[1] }} target="_blank">{{ mails.links[1] }}</a>
    </div>
{% endblock %}

{% block copy %}
            <form>
            <div>
                <button type="submit" name="copy" value="copy" onclick='copyDivToClipboard()'
                        formaction="{{url_for("clipboard")}}">copy to clipboard</button>
            </div>
            </form>
{% endblock %}

{% block previous %}
            <div>
                <button type="button" name="back" value="back" onclick='history.back()'>previous pilot</button>
            </div>
{% endblock %}
